<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.4.1.min.js"></script>

    <script>
        $(function () {
            $('#table').load("/getusers2");
        })
    </script>
</head>
<body>
    <a href="/getusers">asa</a>
    <table id="table">
        <tr>
            <th>ID</th>
            <th>用户名</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.aid}">1</td>
            <td th:text="${user.aname}">2</td>
        </tr>
    </table>
</body>
</html>